section {
    width: 100%;
    padding: 150px 0;
}

article {
    width: 632px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #281811;
    border-radius: 30px;
    padding: 100px auto;
    margin: 0 auto;
}

.login-wrap {
    width: 540px;
    margin: 0 auto 100px;
    padding: 20px 0;
}

.login-wrap>.login-title {
    width: 500px;
    margin: 50px auto 30px;
}

.login-wrap>.login-title>p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.login-wrap>.login-tab {
    margin-bottom: 40px;
}

.login-wrap>.login-tab>ul {
    display: flex;
}

.login-wrap>.login-tab>ul>li {
    flex: 1;
    text-align: center;
    padding: 17px 24px 15px 24px;
    border-bottom: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.login-wrap>.login-tab>ul>.order {
    border-bottom: 1px solid lightgray;
}

.login-wrap>.login-tab>ul>li>a {
    text-decoration: none;
    color: black;
}

.login-wrap>.login-tab>ul>.order>a {
    color: lightgray;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 14px;
    border-radius: 30px;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border: none;
}

.saveid {
    font-size: 12px;
}

.login-submit-btn {
    width: 100%;
    height: 46px;
    background-color: #281811;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.login-submit-btn>a {
    text-decoration: none;
    color: white;
    line-height: 46px;
}

.login-submit-btn:active {
    background-color: #8f664a;
}

.find-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    font-size: 12px;
}

.find-wrap>a {
    text-decoration: none;
    padding: 10px;
    color: black;
}


@media screen and (max-width: 1024px) {
    article {
        width: 500px;
        height: 530px;
    }

    .login-wrap {
        width: 500px;
        margin: 0 auto 100px;
        padding: 20px 0;
    }

    .login-wrap>.login-title {
        width: 500px;
        margin: 50px auto 30px;
    }

    .login-wrap>.login-title>p {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    input[type=text],
    input[type=password] {
        width: 90%;
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 10px;
        display: block;
        border: none;
        background: #f1f1f1;
        font-size: 14px;
        border-radius: 30px;
    }

    input[type="checkbox"] {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        border: none;
        margin-left: 20px;
    }

    .login-submit-btn {
        width: 90%;
        height: 46px;
        background-color: #281811;
        margin: 20px 0;
        text-align: center;
        cursor: pointer;
        border-radius: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 720px) {
    article {
        width: 460px;
        height: 530px;
    }

    .login-wrap {
        width: 460px;
        margin: 0 auto 100px;
        padding: 20px 0;
    }

    .login-wrap>.login-title {
        width: 460px;
    }

    .login-wrap>.login-title>p {
        font-size: 28px;
    }

    input[type=text],
    input[type=password] {
        width: 90%;
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 10px;
        display: block;
        border: none;
        background: #f1f1f1;
        font-size: 14px;
        border-radius: 30px;
    }

    input[type="checkbox"] {
        width: 14px;
        height: 14px;
        vertical-align: middle;
        border: none;
        margin-left: 20px;
    }

    .login-submit-btn {
        width: 90%;
        height: 46px;
        background-color: #281811;
        margin: 20px 0;
        text-align: center;
        cursor: pointer;
        border-radius: 30px;
        margin-left: 20px;
    }
}